{{ define "main" }}
  <div class="masshead"><h1>{{ i18n "lista_de_artigos" }}</h1></div>
  <article>
    {{ range .Pages }}
      <a href="{{ .RelPermalink }}" class="noticia">
        <h2>{{ .Title }}</h2>
        <small>{{ .Date | time.Format ":date_long" }}</small>
        <div class="{{ if .Params.description }}descricao-noticia{{ else }}preview-noticia{{ end }}">
          {{ .Params.description | default .Summary | plainify }}
        </div>
      </a>
    {{ end }}
  </article>
{{ end }}

