
{{ define "main" }}
  <div class="masshead"><h1>{{ .Title }}</h1></div>
  <article>
    {{ .Content }}
  </article>
  {{ if .Params.Autores }}
    <div class="autores">
      <h1>Autores</h1>
      <ul class="cards-pessoais">
        {{ range .Params.Autores }}
          {{ $author := index site.Data.pessoas_e_grupos . }}
          <li class="card-pessoal">
            <img src="{{ $author.avatar | default "/author_img/default.png" }}" alt="{{ i18n "foto_de_perfil" }}" width="80px">
            <span class="nome">{{ $author.nome }}</span>
            <p>
              {{ index $author.bio site.Language.Lang }}
            </p>
      <a href="{{ printf "/autores/%s" . | relLangURL }}">{{ i18n "ver_outras_postagens" }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}

