{{ define "title" }}
  {{ $author := index site.Data.authors (.Title | urlize) }}
  {{ $author.name }}
{{ end }}

{{ define "main" }}
  {{ $author := index site.Data.authors (.Title | urlize) }}
  <h1>{{ $author.name }}</h1>
  <article>
    <ul>
      {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </article>
  <ul class="authors">
    <li>
      <img src="{{ $author.avatar | relURL }}" alt="Foto do {{ $author.name }}" width="80px">
      <span>{{ $author.name }}</span>
      <p>
        {{ $author.bio }}
      </p>
      <a href="{{ "/authors/" | relURL }}">Ver outros autores</a>
    </li>
  </ul>
{{ end }}

