{{ define "title" }}
  {{ $author := index site.Data.authors (.Title | urlize) }}
  {{ $author.name }}
{{ end }}

{{ define "main" }}
  {{ $author := index site.Data.authors (.Title | urlize) }}
  <h1>{{ $author.name }}</h1>
  <article>
    <ul>
      {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </article>
  <ul class="authors">
    <li>
      <img src="{{ $author.avatar }}" alt="{{ i18n "foto_de_perfil" }}" width="80px">
      <span>{{ $author.name }}</span>
      <p>
        {{ index $author.bio .Site.Language.Lang }}
      </p>
      <a href="{{ "/autores/" | relLangURL }}">{{ i18n "ver_mais_autores" }}</a>
    </li>
  </ul>
{{ end }}

