{{- $data := slice -}}
{{- range $key, $value := .Site.Data.docentes -}}
  {{- $item := merge (dict "username" $key) $value -}}
  {{- $data = $data | append $item -}}
{{- end -}}

{{- $data := sort $data "nome" -}}

<ul class="lista-pessoal">
  {{ range where $data "cargo" (cond (eq (.Get 0) "substitutos") "==" "!=") "substituto" }}

    <!-- Acha os grupos em que o docente faz parte -->
    {{ $grupos := slice }}
    {{ range $key, $value := site.Data.grupos }}
      {{ $item := merge (dict "username" $key) $value }}
      {{ $grupos = $grupos | append $item }}
    {{ end }}
    {{ $grupos := where $grupos "membros" "intersect" (slice .username) }}
    {{ $grupos := sort $grupos "nome" }}

    <li>
      <article class="card-pessoal" id="{{ .username }}" aria-labelledby="cardname-{{ .username }}">
        <header>
          <h3 class="nome" id="cardname-{{ .username }}">{{ .nome }}</h3>

          <address>
            <p>{{ i18n .cargo }}</p>

            {{ if ne .email "OCULTO" }}
              <p>{{ partial "email.html" (.email | default .username) }}</p>
            {{ end }}

            {{ if .lattes }}
              <p><a href="{{ .lattes }}" target="_blank" rel="noopener">{{ i18n "lattes" }}</a></p>
            {{ end }}

            {{ if .site }}
              <p><a href="{{ .site }}" target="_blank" rel="noopener">{{ i18n "pagina_pessoal" }}</a></p>
            {{ end }}
        </header>
      </article>
    </li>
  {{ end }}
</ul>


