{{- $data := slice -}}
{{- range $key, $value := .Site.Data.grupos -}}
  {{- $item := merge (dict "username" $key) $value -}}
  {{- $data = $data | append $item -}}
{{- end -}}

{{- $data := where $data "tipo" "=" (.Get 0) -}}
{{- $data := sort $data "nome" -}}

<ul class="cards-pessoais">
  {{ range $data }}
    <li class="card-pessoal" id="{{ .username }}">
      <span class="nome">{{ .nome }}</span>

      {{ partial "email.html" (.email | default .username) }}

      {{ range .membros }}
        {{ $membro_prof := index site.Data.docentes . }}
        {{ $membro_tec := index site.Data.tecnicos . }}
        {{ $membro_outro := index site.Data.outros . }}

        {{ if $membro_prof }}
          <a class="membro" href="{{ i18n "pag-docentes" }}#{{ . }}">
            {{ $membro_prof.nome }}
          </a>
        {{ else if $membro_tec }}
          <a class="membro" href="{{ i18n "pag-tecnicos" }}#{{ . }}">
            {{ $membro_tec.nome }}
          </a>
        {{ else }}
          <span>{{ $membro_outro.nome }}</span>
        {{ end }}
      {{ end }}
    </li>
  {{ end }}
</ul>


