{{ $id := (.Get 1 | default (.Get 0)) | urlize }}
<li {{ if (eq (.Get 2) "longo") }}class="lista-pessoal-card-largo"{{ end }}>
  <article class="card-pessoal" id="{{ $id }}" aria-labelled-by="cardname-{{ $id }}">
    <header>
      <h3 class="nome" id="cardname-{{ $id }}">{{ .Get 0 }}</h3>

      <address>
        {{ if (.Get 1) }}
          <p>{{ partial "email.html" (.Get 1) }}</p>
        {{ end }}
      </address>
    </header>
    <section aria-label="{{ i18n "lista-de-membros" }}">
      <ul>
        {{ .Inner }}
      </ul>
    </section>
  </article>
</li>

