/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
	--cor-fundo: #ffffff;
}

* {
	/* Usado para o padding não quebrar tudo */
	box-sizing: border-box;
}

body {
	font-size: 17px;
	font-family: Arial;
	background-color: var(--cor-fundo);
}

/* Tudo que faz parte do header */
header * {
	/* Faz com que os links não fiquem azuis e sublinhados como normalmente
	 * ficam no HTML padrão */
	color: inherit;
	text-decoration: inherit;
}

/* Seta tudo dentro do header para usar Montserrat como fonte */
header {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

header a, header span {
	/* Faz o ponteiro ficar daquele jeito de quando passa por um link */
	cursor: pointer;
}

header a:hover {
	/* Faz os links ficarem sublinhados ao passar o mouse por cima */
	text-decoration: underline;
}

/* Se refere ao flexbox contendo os links externos no topo direito da página */
#links-header > ul {
	/* Faz com que ele fique "dentro" do menu principal, ou seja, que ele
	 * não faça o menu principal se deslocar para baixo. Já o right se
	 * comporta de forma semelhante a um padding-right */
	position: absolute;
	right: 100px;
	
	width: 100vw;
	height: 40px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}

/* Se refere ao menu principal no topo da página, com a logo do IC e as
 * categorias de menu. Inclui também a parte escondida do menu que abre
 * embaixo, porém ela não é exibida durante a maior parte do tempo */
#main-header {
	width: 100vw;
	height: 120px;

	display: flex;
	justify-content: space-between;

	padding: 0px 100px 0px 100px;
}

/* Se refere ao conjunto da logo do IC e do texto
 * "Instituto de Computação UFRJ" */
#main-header > a {
	display: flex;
	align-items: center;

	height: 120px;

	gap: 30px;

	font-weight: 400;
}

/* Se refere às categorias O INSTITUTO, ENSINO, etc. Porém, também pode afetar
 * o menu escondido */
#main-header > ul {
	display: flex;
}

/* Se refere aos textos O INSTITUTO, ENSINO, etc */
#main-header > ul > li > span {
	font-weight: 600;
	text-transform: uppercase;

	height: 120px;

	padding: 0px 15px 0px 15px;
	
	display: flex;
	align-items: center;
}

/* Se refere aos menus escondidos (há um para cada categoria) */
#main-header > ul > li > ul {
	/* Esconde o menu */
	visibility: hidden;

	/* Faz com que ele fique posicionado lá embaixo */
	/* FIXME: não hardcodar */
	position: absolute;
	top: 120px;
	left: 0px;

	width: 100vw;
	height: 500px;

	background-color: var(--cor-fundo);

	display: flex;
	
	transition: 0s visibility;
	/* Delay para parar de exibir o menu escondido */
	transition-delay: 120ms;
}

/* Se refere aos menus escondidos enquanto a categoria tem foco */
#main-header > ul > li:hover > ul {
	visibility: visible;
	/* Delay para começar a exibir o menu escondido */
	transition-delay: 120ms;
}

/* Se refere às subcategorias do menu escondido */
#main-header > ul > li > ul > li {
	width: 25vw;
	padding: 30px;
}

/* Se refere aos títulos das subcategorias do menu escondido */
#main-header > ul > li > ul > li > span {
	display: block;
	height: 30px;
	font-size: 110%;
}

/* Se refere à lista de links contida dentro de cada subcategoria de menu */
#main-header > ul > li > ul > li > ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 20px;
}




