/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
	--cor-ic1: #344563FF;
	--cor-ic2: #667da6FF;

	--cor-fundo: #FFFFFF;
	--cor-fundo-menu: var(--cor-ic1);
	--cor-fundo-menu-cima: var(--cor-ic2);
	--cor-texto: #000000;
	--cor-texto-branco: #ffffff;

	--menu-padding: 100px;
	--menu-total-height: 120px;
}

* {
	/* Usado para o padding não quebrar tudo */
	box-sizing: border-box;
	/* Não colorir links */
	color: inherit;
}

body {
	font-size: 17px;
	font-family: Arial;
	background-color: var(--cor-fundo);
	color: var(--cor-texto);
}


/* Tudo que faz parte do header */
header * {
	/* Faz com que os links não fiquem azuis e sublinhados como normalmente
	 * ficam no HTML padrão */
	color: inherit;
	text-decoration: inherit;
}

header {
	/* Seta tudo dentro do header para usar Montserrat como fonte */
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	user-select: none;
}

header a, header span {
	/* Faz o ponteiro ficar daquele jeito de quando passa por um link */
	cursor: pointer;
}

header a:hover {
	/* Faz os links ficarem sublinhados ao passar o mouse por cima */
	text-decoration: underline;
}

/* Se refere ao flexbox contendo os links externos no topo direito da página */
#links-header > ul {
	/* Faz com que ele fique "dentro" do menu principal, ou seja, que ele
	 * não faça o menu principal se deslocar para baixo. Já o right se
	 * comporta de forma semelhante a um padding-right */
	position: absolute;
	right: var(--menu-padding);
	
	width: 100vw;

	padding: 13px 0px;

	display: flex;
	justify-content: flex-end;
	gap: 20px;

	color: var(--cor-texto-branco);

	font-weight: 300;
}

/* Se refere ao menu principal no topo da página, com a logo do IC e as
 * categorias de menu. Inclui também a parte escondida do menu que abre
 * embaixo, porém ela não é exibida durante a maior parte do tempo */
#main-header {
	width: 100vw;
	height: var(--menu-total-height);

	display: flex;
	justify-content: space-between;

	padding: 0px var(--menu-padding) 0px var(--menu-padding);

	color: var(--cor-texto-branco);
	background-color: var(--cor-fundo-menu-cima);
}

/* Se refere ao conjunto da logo do IC e do texto
 * "Instituto de Computação UFRJ" */
#main-header > a {
	display: flex;
	align-items: center;

	height: 120px;

	gap: 30px;

	font-weight: 300;
	line-height: 23px;
}

/* Se refere às categorias O INSTITUTO, ENSINO, etc. Porém, também pode afetar
 * o menu escondido */
#main-header > ul {
	display: flex;
}

/* Se refere aos textos O INSTITUTO, ENSINO, etc */
#main-header > ul > li > span {
	font-weight: 600;
	text-transform: uppercase;

	height: 120px;

	padding: 0px 1em;
	
	display: flex;
	align-items: center;
}

/* Se refere aos menus escondidos (há um para cada categoria) */
#main-header > ul > li > ul {
	/* Esconde o menu */
	clip-path: inset(0 0 100% 0);

	/* Faz com que ele fique posicionado lá embaixo */
	/* FIXME: não hardcodar */
	position: absolute;
	top: var(--menu-total-height);
	left: 0px;

	width: 100vw;

	background-color: var(--cor-fundo-menu);
	color: var(--cor-texto);

	padding: 20px;

	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
	
	transition: clip-path 200ms ease-out;
}

/* Se refere aos menus escondidos enquanto a categoria tem foco */
#main-header > ul > li:hover > ul,
#main-header > ul > li:focus-within > ul {
	clip-path: inset(0 0 0 0);
}

/* Se refere às subcategorias do menu escondido */
#main-header > ul > li > ul > li {
	background-color: var(--cor-fundo);
	width: 250px;
	padding: 20px;
	border-radius: 10px;
}

/* Se refere aos títulos das subcategorias do menu escondido */
#main-header > ul > li > ul > li > span {
	display: block;
	margin-bottom: 30px;

	font-weight: 600;
}

/* Se refere à lista de links contida dentro de cada subcategoria de menu */
#main-header > ul > li > ul > li > ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	line-height: 20px;
}

/* Sempre verificar se os breakpoints repetem */

@media screen and (min-width: 700px) and (max-width: 1150px) {
	#main-header > a > p {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	:root {
		--menu-padding: 10px;
	}
}

@media screen and (max-width: 700px) {
	:root {
		--menu-total-height: 250px;
	}

	#links-header > ul {
		font-size: 11px;
	}

	#main-header {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	#main-header > ul {
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#main-header > ul > li > span {
		height: 30px;
	}
}


footer {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: var(--cor-texto-branco);
}

footer > div {
	width: 100vw;
	padding: 0 var(--menu-padding);

	display: flex;
	flex-wrap: wrap;
}

footer .superior {
	background-color: var(--cor-fundo-menu-cima);

	justify-content: space-between;
}

footer .superior > div {
	padding: 20px;
}

footer .superior span {
	display: block;
	height: 20px;
	font-weight: 600;
}

footer .superior p {
	padding: 10px 0px;
	line-height: 22px;
}

footer .inferior {
	background-color: var(--cor-fundo-menu);
}

footer .inferior > * {
	padding: 20px;
}

footer .inferior .social {
	display: flex;
	gap: 10px;
}


main {
	background-color: var(--cor-fundo-menu);
}

article, main > ul {
	width: auto;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

article {
	background-color: var(--cor-fundo);
	margin-top: 40px;
	border-radius: 10px;
	min-height: 50vh;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	margin: 10px 0;
}
article h1 { font-size: 160%; }
article h2 { font-size: 150%; }
article h3 { font-size: 140%; }
article h4 { font-size: 130%; }
article h5 { font-size: 120%; }
article h6 { font-size: 110%; }

article p {
	margin: 15px 0;
}



main > h1 {
	display: flex;
	height: 100px;

	text-transform: uppercase;
	font-weight: 800;
	font-size: 25px;

	align-items: center;
	justify-content: center;

	color: var(--cor-texto-branco);
	background: url("/img/masshead.jpg");
	background-size: cover;
	background-position: center center;

	text-shadow: 0px 0px 20px black,
		0px 0px 20px black,
		0px 0px 20px black,
		0px 0px 20px black,
		0px 0px 20px black;
}

.authors {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.authors > li {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 10px;

	background-color: var(--cor-fundo);
	padding: 20px;
	margin: 10px 0;
	border-radius: 10px;
}

.authors span {
	font-weight: 600;
	font-size: 120%;
}

.authors img {
	border-radius: 10px;
}









