<div class="superior">
  <div>
    <span>Localização</span>
    <p>
      Centro de Ciências Matemáticas e da Natureza
      <br>Avenida Athos da Silveira Ramos, 274
      <br>Cidade Universitária
      <br>Rio de Janeiro, RJ, Brasil
    </p>
    <p>
      CEP: 21941-916
    </p>
  </div>
  <div>
    <span>Endereço para Correspondência</span>
    <p>
      Instituto de Computação
      <br>Universidade Federal do Rio de Janeiro
      <br>Caixa Postal: 68.530
      <br>CEP: 21941-590
      <br>Rio de Janeiro, RJ, Brasil
    </p>
  </div>
  <div>
    <span>Contato</span>
    <p>
      Tel.: +55 21 3938-3338
      <br>Tel.: +55 21 3938-3393
      <br>Tel.: +55 21 3938-9516
    </p>
    <p>
      <a href="{{ "/info/contato" | relURL }}">Mais informações de Contato</a>
    </p>
  </div>
</div>

<div class="inferior">
  <span class="copyright">
    © Todos os direitos reservados - Instituto de Computação / UFRJ
  </span>
  <ul class="social">
    <li><a href="https://youtube.com/">Símbolo do youtube</a></li>
    <li><a href="https://youtube.com/">Símbolo do github</a></li>
  </ul>
</div>

