<div class="superior">
  <div>
    <span>{{ i18n "localizacao" }}</span>
    <p>
      Centro de Ciências Matemáticas e da Natureza
      <br>Avenida Athos da Silveira Ramos, 274 - Bloco E
      <br>Cidade Universitária
      <br>Rio de Janeiro, RJ, Brasil
      <br>CEP: 21941-916
    </p>
  </div>
  <div>
    <span>{{ i18n "redes-sociais" }}</span>
    <p>
      <a href="https://www.youtube.com/@institutodecomputacao-ufrj2797" target="_blank" rel="noreferrer">
        {{ i18n "youtube-footer" }}
      </a>
      <br><a href="https://github.com/ic-ufrj" target="_blank" rel="noreferrer">
        {{ i18n "github-footer" }}
      </a>
      <br><a href="https://bit.ly/telegram_coord_icufrj" target="_blank" rel="noreferrer">
        {{ i18n "telegram-footer" }}
      </a>
    </p>
  </div>
  <div>
    <span>{{ i18n "contato" }}</span>
    <p>
      Tel.: +55 21 3938-3338
      <br>Tel.: +55 21 3938-3393
      <br>Tel.: +55 21 3938-9516
    </p>
    <p>
      <span class="email">secretaria@<span>ic.</span>ufrj.<span>gov.</span>br</span>
    </p>
    <p>
      <a href="{{ i18n "link_mais_informacoes_contato" }}">{{ i18n "mais_informacoes_contato" }}</a>
    </p>
  </div>
</div>

<div class="inferior">
  <span class="copyright">{{ i18n "todos_direitos_reservados_ic" }}</span>
  <!--<ul class="social">
    <li><a href="https://www.youtube.com/@institutodecomputacao-ufrj2797" target="_blank" rel="noreferrer"><i class="bi bi-youtube"></i></a></li>
    <li><a href="https://github.com/ic-ufrj" target="_blank" rel="noreferrer"><i class="bi bi-github"></i></a></li>
  </ul>-->
</div>

