<nav id="links-header">
  <ul>
    {{ $menu := index site.Data.menus (printf "links.%s" .Site.Language.Lang) }}
    {{ range $menu }}
      <li><a href="{{ .url }}" target="_blank" rel="noreferrer">
        {{ .name }}<i class="bi bi-arrow-up-right"></i>
      </a></li>
    {{ end }}
    {{ range .Translations }}
      <li><a href="{{ .RelPermalink }}" class="linguagem">{{ .Language.LanguageCode | upper }}</a></li>
    {{ end }}
  </ul>
</nav>


<nav id="main-header">
  <a href="{{ "/" | relLangURL }}">
    <img src="{{ "/svg/logo-ic.svg" | relURL }}" alt="Logo do IC" width="80px">
    <p>{{ i18n "instituto_de_computacao" }}<br>UFRJ</p>
  </a>

  <ul>
    {{ $menu := index site.Data.menus (printf "principal.%s" .Site.Language.Lang) }}
    {{ range $menu }}
      <li>
        <button type="button" aria-expanded="false" aria-controls="{{ .name | urlize }}-dropdown">{{ .name }}</button>
        <ul>
          {{ range .children }}
            <li>
              {{ if .name }}
                <span>{{ .name }}</span>
              {{ end }}
              <ul>
                {{ range .children }}
                  {{ if .url }}
                    <li><a href="{{ .url }}">{{ .name }}</a></li>
                  {{ else }}
                    <li><a href="https://dcc.ufrj.br/" style="color:red;">{{ .name }}</a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
</nav>



