<nav id="links-header">
  <ul>
    <li><a href="https://ufrj.br/">UFRJ<i class="bi bi-arrow-up-right"></i></a></li>
    <li><a href="https://ccmn.ufrj.br/">CCMN<i class="bi bi-arrow-up-right"></i></a></li>
    <li><a href="https://ppgi.ufrj.br/">PPGI<i class="bi bi-arrow-up-right"></i></a></li>
    <li><a href="https://ouvidoria.ufrj.br/">Ouvidoria UFRJ<i class="bi bi-arrow-up-right"></i></a></li>
    <li><a href="https://intranet.ufrj.br/">Intranet<i class="bi bi-arrow-up-right"></i></a></li>
  </ul>
</nav>

<nav id="main-header">
  <a href="{{ "/" | relURL }}">
    <img src="/svg/logo-ic.svg" alt="Logo do IC" width="80px">
    <p>Instituto de Computação<br>UFRJ</p>
  </a>

  <ul>
    <li>Informações</li>
    <li>Graduação</li>
    <li>Links</li>
    <li><a href="{{ "/cadastro" | relURL }}">Cadastro</a></li>
  </ul>
</nav>



